<?xml version="1.0"?>
<configuration>
 <!--make sure only login in users can access pages-->
  <!--1.-->
  <location path="group-admin.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <!--2.-->
  <location path="grades-admin.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <!--3.-->
   <location path="attendance-admin.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location> 
  <!--make sure only login in users can access pages-->
</configuration>
